*{
	margin: 0px;
	padding: 0px;
	border: none;
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: "Open Sans", sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	overflow: hidden;
}

#timeHelper{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.progressBarOuter{
	position: absolute;
	border: none;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100px;
}

.progressBar{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 0px;
	text-align: left;
	white-space: nowrap;
}

.itemLabel{
	position: absolute;
	line-height: 0;
	top: 40%;
	margin-left: 40px;
}

.remainingTime{
}

.quarterMark{
	width: 10px;
	height: 220px;
	position: absolute;
	background-color: rgba(0, 0, 0, 1);
	bottom: 0px;
	margin-left: -5px;
	z-index: 1000;
}

#firstQuarter{
	left: 25%;
}

#secondQuarter{
	left: 50%;
}

#thirdQuarter{
	left: 75%;
}

#controls{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 20000;
	
	padding: 7px;
	padding-bottom: 4px;
	border: 1px #777777 solid;
	border-radius: 20px;
	background-color: #222222;
}

.controlsButton{
	height: 100px;
	width: 100px;
	margin: 3px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	border: 1px #444444 solid;
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0.28) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.28)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.controlsButton img{
	display: block;
	position: relative;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.controlsButton:hover{
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0.32) 0%, rgba(255,255,255,0.04) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.32)), color-stop(100%,rgba(255,255,255,0.04))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ffffff', endColorstr='#0affffff',GradientType=0 ); /* IE6-9 */
}

#playButton{
	
}

#backButton{
	
}

