/*

	This project uses jQuery: http://jquery.com/
	
	Icons from the Iconic icon set have been used: http://somerandomdude.com/work/iconic/
	
	
	
	Copyright 2012 Roland Rytz
	___________________________
	
	This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    See http://www.gnu.org/licenses/gpl-3.0.html for further information.
	
*/

#timeHelperOverlay{
	display: none;
	font-family: "Open Sans", sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	overflow: hidden;
}

#timeHelper{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.progressBarOuter{
	position: absolute;
	border: none;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100px;
}

.progressBar{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 0px;
	text-align: left;
	white-space: nowrap;
	/*border-right: 5px ridge #FF0000;*/
}

.topicLabel, .topicDuration{
	position: absolute;
	line-height: 0;
	top: 30%;
	margin-left: 40px;
}

.topicDuration{
	top: 60%;
}

.durationLeft{
}

.quarterMark{
	width: 10px;
	height: 220px;
	position: absolute;
	background-color: rgba(0, 0, 0, 1);
	bottom: 0px;
	margin-left: -5px;
	z-index: 1000;
}

#firstQuarter{
	left: 25%;
}

#secondQuarter{
	left: 50%;
}

#thirdQuarter{
	left: 75%;
}

#controls{
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 20000;
	
	padding: 4px;
	padding-bottom: 2px;
	border: 1px #777777 solid;
	border-width: 1px 0px 0px 1px;
	border-radius: 10px 0px 0px 0px;
	background-color: #222222;
}

.controlsButton{
	height: 70px;
	width: 70px;
	margin: 3px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	border: 1px #444444 solid;
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0.28) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.28)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.28) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.controlsButton img{
	display: block;
	position: relative;
	width: 45px;
	height: 45px;
	top: 50%;
	left: 50%;
	margin-top: -23px;
	margin-left: -23px;
}

.controlsButton:hover{
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0.32) 0%, rgba(255,255,255,0.04) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.32)), color-stop(100%,rgba(255,255,255,0.04))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.04) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ffffff', endColorstr='#0affffff',GradientType=0 ); /* IE6-9 */
}

#playButton{
	
}

#backButton{
	
}

