*{
	margin: 0px;
	padding: 0px;
	border: none;
}

body{
	padding: 10px;
}

h1{
	display: inline-block;
}

h2{
	font-size: 1em;
	font-weight: normal;
}

textarea,
div [contenteditable="true"]{
	font-size: 14px;
	border: 2px #DDDDDD groove;
	outline: none;
	background-color: #FFFFFF;
	white-space: pre;
	overflow-y: auto;
}

button{
	border: 2px #DDDDDD outset;
	background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
	padding: 3px;
	cursor: pointer;
	outline: none;
}

button:hover{
	border: 2px #DDDDDD outset;
	background-color: #FFFFFF;
	background-image: none;
}

button:active{
	border: 2px #DDDDDD inset;
	background-image: linear-gradient(to top, #FFFFFF, #EEEEEE);
}

input[type="text"]{
	border: 2px #DDDDDD groove;
	outline: none;
	height: 14px;
	padding: 2px;
}

hr{
	border-top: 1px #888888 solid;
	margin-top: 0px;
	margin-bottom: 5px;
}


/* --------------------------------------------------- */

.topic{
	border: 1px #000000 solid;
	margin: 5px;
	margin-left: 15px;
	margin-top: 10px;
	max-width: 300px;
	background-color: rgba(64, 255, 0, 0.1);
}

.topic:hover{
	/*background-color: rgba(0, 128, 255, 0.1);*/
	border-left: 5px #00FF00 ridge;
	margin-left: 11px;
}

.topicInfo{
	margin: 5px;
}





